<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        th {
            text-align: center;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <title>Subscriptions</title>
</head>


<body style="width:70%; margin: 50px auto;">
    <h1>Subscriptions! </h1>
    <div style="display: flex; align-items: center">
        <h3 style="margin-right: 10px;">Filter by provider</h3>

    <% for(let provider of providers) {%>
        <form style="float: right" action="/subscriptions?provider=<%= provider.PROVIDER %>&filterBy=id" method="POST">
            <button onClick="setLastProvider(e)" style="margin-left: 5px;"><%= provider.PROVIDER %></button>
        </form>
    <%}%>
    <form style="float: right" action="/subscriptions?provider=all&filterBy=id" method="POST">
        <button style="margin-left: 5px;">All</button>
    </form>
    </div>

    <form action="/subscriptions" method="post">
        <input type="email" name="search"/>
        <button>Search</button>
    </form>
    <form action="/subscriptions" method="post">
        <input name="clear" value="clear" type="hidden"/>
        <button>Clear search results</button>
    </form>

    <table style="font-size: 1.5rem; border: 1px oslid black;">
          <tr>
            <th>Id</th>
            <th>Subscription
                <form style="float: right" action="/subscriptions?provider=<%= lastProvider %>&filterBy=email" method="POST">
                    <button>Sort</button>
                </form>
            </th>
            <th>Provider
                <form style="float: right" action="/subscriptions?provider=<%= lastProvider %>&filterBy=provider" method="POST">
                    <button>Sort</button>
                </form>
            </th>
            <th>Date
                <form style="float: right" action="/subscriptions?provider=<%= lastProvider %>&filterBy=date" method="POST">
                    <button>Sort</button>
                </form>
            </th>
           
          </tr>
          <% if(subscriptions.length) {%> 
            
          <% for(let subscription of subscriptions) {%>
                <tr>
                    <td><%= subscription.ID %></td>
                    <td><%= subscription.EMAIL %></td>
                    <td><%= subscription.PROVIDER %></td>
                    <td><%= subscription.DATE %></td>
                    <td>
                        <form style="float: right" action="/subscriptions?provider=<%= lastProvider %>&filterBy=<%= lastFilterBy %>&deleteEmail=<%= subscription.EMAIL %>" method="post">
                        <button>Delete</button>
                        </form>
                    </td>
                </tr>
            <%} } else {%>
                <tr><td colspan='4'>Email not found</td></tr>
            <%} %>
           
      </table>
      <form action="/subscriptions?provider=<%= lastProvider %>&filterBy=<%= lastFilterBy %>&go=back" method="POST">
        <button>&#8592;</button>
      </form>
      <p>Page <%= currentPage %> from <%= numberOfPages %> (showing <%= subscriptions.length %> records)</p>
      <form action="/subscriptions?provider=<%= lastProvider %>&filterBy=<%= lastFilterBy %>&go=forward" method="POST">
        <button>&#8594;</button>
      </form>
</body>
</html>

